.for-lis {
  display: inline-flex;
  width: 100%;
  padding: 5px;
}

.mb-15 {
  margin-bottom: 15px;
}

.pt-5 {
  padding-top: 5px !important;
}

Color .mt-6 {
  margin-top: 6px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.padLR {
  padding-left: 5px;
  padding-right: 5px;
}

.RightBdr {
  border-right: 2px solid #ccc;
}

.mt-18 {
  margin-top: 18px;
}

.f-500 {
  font-weight: 500;
}

h5.TxtSize {
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 5px;
  color: #0000BC;
}

.arrow_up {
  margin-top: -4px;
  cursor: pointer;
  margin-left: 4px;
}

.arrow_down {
  margin-top: 10px;
  cursor: pointer;
  margin-left: 4px;
}

.brd-btm {
  border-bottom: 1px solid #ccc;
}

.fortablee .glyphicon {
  right: auto !important;
}

.for-c0l {
  background: #e7e3e3 !important;
  border: 1px solid #fff;
}

.for-c02 {
  background: #f7f5f5 !important;
  border: 1px solid #fff;
}

.for-c03 {
  background: #fff !important;
  border: 1px solid #eee;
}

.project_active {
  background: #cecccc !important;
}

.MarTop50 {
  margin-top: -50px;
}

.fortablee .section-event .searchclear {
  right: auto !important;
  margin-left: -19px;
  bottom: auto;
  top: 12px !important;
}

.fortablee .glyphicon_active {
  right: auto !important;
}

/*table expand*/
.table-expandsize .news_upload {
  padding: 0px 10px;
  margin: 5px 0px;
  display: inline-block;
}

.table-expandsize .news_upload .content_wrap {
  background: #0000BC;
  padding: 10px 1px;
  box-shadow: 0px 3px 6px 0px #ccc;
  height: 153px;
  width: 153px;
}

.table-expandsize .permission {
  color: #fff;
  font-weight: 700 !important;
  text-align: center;
  font-family: "Segoe UI";
  margin: 0px 3px;
  height: 50px;
  font-size: 18px;
  margin-top: 43px !important;
}

.table-expandsize .news_upload .content_wrap.active {
  border: 4px solid #cccccc !important;
  box-shadow: 4px 6px 15px 0px #0000BC;
}

/*table expand*/
.ServicePortfoliopg table.indicator_search td fieldset legend span:first-child, .smartSearch-Filter-Section .td-manage fieldset legend span:first-child, .taskprofilepagegree table.indicator_search td fieldset legend span:first-child, .smartSearch-Filter-Section .td-manage fieldset legend span:first-child {
  border-bottom: 1.5px solid #228b22 !important;
  color: #228b22 !important;
}

table.indicator_search td fieldset legend span:first-child, .smartSearch-Filter-Section .td-manage fieldset legend span:first-child {
  border-bottom: 1.5px solid #0000BC !important;
  color: #0000BC !important;
}

table.indicator_search td fieldset legend span, .smartSearch-Filter-Section .td-manage fieldset legend span {
  padding: 5px 5px;
  font-weight: 600;
  font-size: 14px !important;
  width: 96%;
  font-family: "Segoe UI" !important;
  background: #e9e9e9;
  letter-spacing: 0;
  display: block;
}

table.indicator_search td fieldset .add_box, .smartSearch-Filter-Section .td-manage fieldset .filter-Item {
  width: 92%;
  margin-left: 7px;
  font-size: 13px;
  color: #444444;
  letter-spacing: 0;
  font-family: "Segoe UI";
}

/*** Task-Profile ***/
.ServicePortfoliopg .table-expandsize .news_upload .content_wrap.active {
  box-shadow: 4px 6px 15px 0px #228b22 !important;
}

.taskprofilepagegreen .table-expandsize .news_upload .content_wrap {
  background: #228b22 !important;
}

.taskprofilepagegreen .table-expandsize .news_upload .content_wrap.active {
  box-shadow: 4px 6px 15px 0px #228b22 !important;
}

.divPanelBody #main-menu li:hover > ul.sub-menu {
  display: block;
}

.taskprofilealign1 #autosugesstion {
  z-index: 1051;
  position: absolute;
  left: 489px;
  top: 103px;
  width: 557px;
  background: #fff;
}

.taskprofilealign1 #pageTitle {
  display: none;
}

.taskprofilealign1 .pos_top {
  position: absolute;
  top: 50px;
}

.Description ul {
  list-style: square;
  padding-left: 35px;
}

.Description.desboxulli ul {
  padding-left: 17px;
}

.Description.desboxulli ol {
  padding-left: 17px;
}

#SharewebtaskId input[type=search] {
  font-weight: 400 !important;
}

.imghgtwdt1 {
  max-height: 209px !important;
  max-width: 285px !important;
}

.taskprofilealign1 {
  margin: 0 auto;
  width: 100% !important;
}

.taskprofilealign1 .left_Allcomment img {
  width: 28px;
}

.taskprofilealign1 .DragUser_Images {
  height: 28px;
  min-height: 28px;
}

.taskprofilealign1 .left_Allcomment {
  width: 33px;
}

.taskprofilealign1 .pipe {
  font-size: 18px;
  font-weight: 700;
}

.taskprofilealign1 .sit-preview img {
  max-height: 197px !important;
  max-width: 290px !important;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.taskprofilealign1 .pipebdrlftline {
  border-left: 2px solid #6F6F6F;
  padding-top: 5px;
  padding-bottom: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.top-navigate #s4-workspace {
  overflow-x: unset;
}

.word_break {
  word-break: break-all;
}

.bdrbox {
  border: 1px solid #ccc;
}

.pad10 {
  padding: 10px;
}

.padb-2 {
  padding-bottom: 2px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt--2 {
  margin-top: -2px !important;
}

.mt--5 {
  margin-top: -5px;
}

.mr-5 {
  margin-right: 5px !important;
}

.minwid-10 {
  min-width: 10px !important;
}

.wid10 {
  width: 10px;
}

.wid22 {
  width: 22px !important;
}

.wid29 {
  width: 29px;
}

.padb-10 {
  padding-bottom: 10px;
}

.height-30 {
  height: 30px;
}

.disnone {
  display: none !important;
}

.bdrtop {
  border-top: 1px solid #ccc;
}

.pad0 {
  padding: 0px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pr-10 {
  padding-right: 10px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-3 {
  margin-left: 3px !important;
}

.mr-0 {
  margin-right: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-25 {
  margin-top: 25px;
}

.width-90 {
  width: 90%;
}

.width-85 {
  width: 85%;
}

.ml5 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 28px;
}

.ml35 {
  margin-left: 45px;
}

.tdrows {
  border: 1px solid #f2f2f2 !important;
}

.button-icon {
  width: 18px;
}

.mt-100 {
  margin-top: 100px;
}

.font11 {
  font-size: 11px !important;
}

.wid35 {
  width: 35px;
}

.back-fb {
  background-color: #fbfbfb;
}

.mr0 {
  margin: 0px !important;
}

.img-round {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.scroll-8 {
  overflow-y: auto;
  max-height: 800px;
  overflow-x: hidden;
  border: 1px solid #ccc;
}

.seclected-Image {
  border: 3px solid #067ef6;
}

/*** ComponentsTaggedReports ***/
.report .tooltipte .tooltiptext {
  visibility: hidden;
  min-width: 350px;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -42px;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  border-width: 1px;
  color: #333;
  padding: 0px;
  font-size: 12px;
  font-family: Verdana, Arial;
  max-height: 350px;
  text-align: left;
  left: 17px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.05), 0 0px 3px rgba(0, 0, 0, 0.02);
}

.report .tooltipte .tooltiptitle {
  color: #6b6a6a;
  font-size: 16px !important;
  font-weight: 600;
  background: #e8e6e6;
  padding: 6px 10px;
  border: 1px solid #ccc;
  margin-bottom: 0px;
}

.report .tooltip_Desc {
  padding: 3px;
  background: #fff;
}

.report .project-tool:hover .tooltiptext {
  visibility: visible;
  position: absolute;
  border: 1px solid #ccc;
}

.report .tooltip_Desc td {
  background: #fff !important;
  font-weight: 500 !important;
}

.report .pagetitleheader {
  display: none !important;
}

.report .Breadcrumb {
  display: none;
}

.report .project-tool {
  width: 20px;
  display: inherit;
  position: relative;
}

.report .project-tool a.text-white {
  color: #ffffff !important;
  font-size: 22px !important;
  font-weight: 600;
}

/*** CreateMeetingNotesPopup ***/
.Meeting .taskuserr #ctl00_mpBody {
  margin-right: 0px;
}

.Meeting .fr-toolbar .fr-command.fr-btn.fr-active,
.fr-popup .fr-command.fr-btn.fr-active {
  color: #1e88e5;
  background: 0 0;
}

.Meeting button#fullscreen-1 {
  position: absolute;
  right: 0px;
  border-left: 1px solid #ccc;
}

.Meeting .Createmeetingdes #ShortDescription .fr-element.fr-view {
  min-height: 232px !important;
}

.taskItemLength {
  color: #fff;
}

.dashboard .deleteIcon_Color {
  background: #415665;
  height: 50px;
  width: 200px;
  border-radius: 15px;
  padding: 20px;
  font-size: 22px;
  color: #fff;
}

/*** componentsdashboard ***/
.componentsdashboard .dropBox {
  background: #ccc !important;
}

.componentsdashboard .dashboard {
  width: 1280px !important;
  margin-top: 1px;
}

.componentsdashboard .wrapper .glyphicon_active {
  position: absolute;
  right: 9px;
  color: #0000BC !important;
}

.componentsdashboard .for_input {
  margin: -3px 0 0 !important;
  line-height: normal;
}

.width130 {
  width: 130px !important;
}

.activity-T .ProirityAssignedUserPhoto {
  display: inline-flex;
}

.activity-T .taskprofilepagegreen .commentboxtitlecolor {
  color: #228b22 !important;
}

.taskprofilepagegreen.for-lis.tdrows {
  color: #228b22;
}

.taskprofilepagegreen.tdrows {
  color: #228b22;
}

.ServicePortfoliopg .table-expandsize .news_upload .content_wrap {
  background: #228b22 !important;
}

.taskprofilepagegreen .selectedDueDate {
  background: #60cf60 !important;
}

.taskprofilepagegreen .Feedback #li-brdr .glyphicon-comment, .ServicePortfoliopg .Feedback #li-brdr .glyphicon-comment, .ServicePortfoliopg .Feedback #li-brdr .glyphicon-question-sign, .taskprofilepagegreen .Feedback #li-brdr .glyphicon-question-sign {
  color: #228b22 !important;
}

/*** SharewebPageSettings ***/
.page-content {
  position: relative;
  height: 50px;
  top: 7px !important;
  margin-right: 0px !important;
  margin-left: -26px !important;
}

.Feedback #li-brdr .glyphicon-comment, .Feedback #li-brdr .glyphicon-question-sign, .Feedback #li-brdr .fa {
  color: #0000BC !important;
  font-size: 12px;
}

.Feedback .glyphicon.glyphicon-comment, .Feedback .glyphicon.glyphicon-question-sign {
  position: relative !important;
  top: 2px !important;
  right: 3px !important;
}

.Feedback .dropdown-menu > li > a {
  padding: 3px 10px;
}

.fixnum {
  position: absolute;
  left: -10%;
}

.dashboard-head {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 4px 7px 0.5px;
  position: relative;
  background: #d3d3d3;
  color: #000;
  font-size: 15px;
}

.font15 {
  font-size: 15px;
}

.FeedBackIconSize .page-content {
  font-size: 13.5px;
}

/* .taskuserpopuptemplate .page-content {width: auto !important; margin-right: 36px !important; height: auto !important; margin-left: -25px !important; } */
.height100 {
  height: 100px;
}

.height80 {
  height: 80px;
}

.height60 {
  height: 60px;
}

.ml-4 {
  margin-left: 4px;
}

.NMt-7 {
  margin-top: -7px;
}

.text-white {
  color: #ffffff !important;
}

.taskuserpopuptemplate .lengthToAlignWithTab a {
  padding-right: 40px !important;
}

.taskuserpopuptemplate .AllsiteRadio input[type=checkbox], input[type=radio] {
  margin: 0px 0 0;
}

.bdr_top2 {
  border-top: 1px solid #2a2a2a;
}

.taskuserpopuptemplate .update_fieldset {
  padding: 20px;
  border: 1px solid transparent;
}

.taskuserpopuptemplate .lengthToAlignWithTab span {
  position: absolute;
  top: 11px;
  right: 15px;
  color: #0000BC;
}

.taskuserpopuptemplate #tabs .nav-pills > li.active > span,
.nav-pills > li.active > span:hover,
.nav-pills > li.active > span:focus {
  color: #000;
}

.taskuserpopuptemplate .divPanelBody #main-menu li:hover > ul.sub-menu {
  display: block !important;
}

.PtL-5 {
  padding-top: 5px;
  padding-left: 5px;
}

.LeaderDashboard li {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  background: #ececec;
  border-radius: 2px;
  color: #0000BC;
  font-size: 17px;
  font-weight: 500;
  padding: 8px 0px 8px 5px;
}

.LeaderDashboard li ul li {
  background: #b9afaf;
  width: 92%;
  padding: 5px 0px 5px 5px;
  font-size: 14px;
}

.TableSpace {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.Teamleaderdashboardpage .nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #ffffff;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom-color: transparent;
}

.Teamleaderdashboardpage .nav > li > a {
  width: 100%;
  display: block;
  padding: 10px 0px 10px 5px;
  margin-right: 0px;
  line-height: 0;
  border: none;
  border-radius: 0px;
}

.Teamleaderdashboardpage li.active {
  background: #ffffff;
}

.ml15 {
  margin-left: 15px;
}

.Teamleaderdashboardpage .dashboard-head {
  background: #0000BC;
  color: #ffffff;
}

.Teamleaderdashboardpage li.active {
  background: #0000BC;
  border-right: none;
}

.Teamleaderdashboardpage .nav-tabs > li ul li.active > a,
.nav-tabs > li ul li.active > a:focus,
.nav-tabs > li ul li.active > a:hover {
  color: #ffffff;
}

.Component input[type=radio], input[type=checkbox] {
  margin: -2px 0 0;
  line-height: normal;
}

.alertmsg {
  overflow: hidden !important;
  margin-left: 30%;
  margin-top: 32px;
  background-color: #fff;
}

.site-box {
  padding-left: 23px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.site-box .report {
  display: inline-block;
}

.SmartMetaSearchpage .left64 {
  left: 64px !important;
}

.SmartMetaSearchpage #myDropdown1 button, .SmartMetaSearchpage #myDropdown2 button {
  min-width: 4.5em;
}

.SmartMetaSearchpage .dropdown-content {
  position: absolute;
  background-color: #f6f6f6;
  max-width: 210px;
  border: 1px solid #ddd;
  z-index: 1;
  margin-left: 5px;
  top: 13%;
}

.SmartMetaSearchpage h5.title {
  margin-bottom: 2px;
  margin-top: 7px;
  font-size: 13px;
  font-weight: 600;
  color: #0000BC !important;
}

.SmartMetaSearchpage .expandtableicon {
  position: absolute;
  z-index: 999;
  right: 0.3%;
  top: 20px;
}

.px-7 {
  padding-left: 7px !important;
  padding-right: 7px !important;
}

.mheight {
  min-height: 300px;
}

.bg-f5 {
  background-color: #f5f5f5;
}

.ml--30 {
  margin-left: -30px !important;
}

.ml--20 {
  margin-left: -20px !important;
}

.SmartMetaSearchpage .daterangepicker .drp-calendar {
  min-width: 335px !important;
}

.SmartMetaSearchpage .advancesearch .time .tooltipte .tooltiptext {
  left: -660px !important;
}

.SmartMetaSearchpage .advsearch.ui-tabs .ui-tabs-panel {
  border-top: transparent;
}

.SmartMetaSearchpage .advsearch #tabs .nav-pills > li.active > a, #tabs .nav-pills > li > a {
  padding: 9px 21px;
}

.SmartMetaSearchpage .advsearch.ui-tabs .ui-tabs-nav li.ui-state-default.ui-corner-top {
  padding: 0px 2px !important;
}

.SmartMetaSearchpage .ndcoment {
  padding: 36px;
  margin: 10px;
  border: 1px dashed #ccc;
}

/* .SmartMetaSearchpage  .glyphicon, .SmartMetaSearchpage .glyphicon_active{right: -15px !important;} */
.SmartMetaSearchpage .glyphicon-cog.settingicon {
  position: unset !important;
}

.mt2 {
  margin-top: -2px !important;
}

.SmartMetaSearchpage .page-content {
  top: 3px !important;
}

.PortfolioComponentPopup .AllsiteRadio input[type=checkbox], input[type=radio] {
  margin: 4px 0 0 0;
}

.Feedback #li-brdr {
  font-weight: 700;
  font-size: 13px;
  font-family: "Segoe UI Dark", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
}

.Feedback #li-brdr a {
  border-bottom: 1px solid #d5d5d5;
}

.Feedback ul.dropdown-menu {
  padding: 0;
  border-radius: 0px;
}

.no_docment {
  text-align: center;
  padding: 30px;
  border: 1px dashed #ccc;
  margin: 30px;
}

/********** Table new design ************/
.cakfiltr {
  width: 100%;
  float: left;
}

.cakfiltr .chkhd {
  background: #ccc;
  padding: 10px 0px;
  width: 100%;
  float: left;
  padding-left: 10px;
  margin-bottom: 5px;
}

.cakfiltr input[type=checkbox] {
  margin-right: 5px;
}

.cakfiltr > span {
  width: 47%;
  float: left;
  padding-left: 10px;
  margin-bottom: 5px;
  font-weight: 600;
  position: relative;
}

.cakfiltr > span .list-group-item {
  border: none;
  padding: 2px 10px;
  background-color: transparent;
}

.cakfiltr label {
  font-weight: normal;
}

.serchkey {
  width: 100%;
  float: left;
  margin-left: 15px;
}

.serchkey input[type=text] {
  width: 60%;
  margin-right: 10px;
  height: 30px;
  border: 1px solid #ccc;
}

.herfbtn {
  width: 100%;
  float: left;
  text-align: right;
}

.herfbtn a:link {
  background: #0000BC;
  padding: 10px 10px;
  color: #fff !important;
  text-decoration: none;
  line-height: 33px;
}

.herfbtn a:last-child {
  background: #ccc;
  color: #000;
}

.serchpannel {
  float: left;
  width: 100%;
  padding: 10px 0px;
}

.dropck input[type=checkbox] {
  position: relative;
  margin-top: 0px;
}

.dropdown-menusk {
  display: none;
  background: #fff;
  padding: 5px;
}

.dropdown-menusk input[type=text], .dropdown-menusk1 input[type=text] {
  margin: 0px;
}

.dropdown-menusk1 {
  display: none;
  background: #fff;
  padding: 5px;
}

.herfbtn {
  padding-right: 12px;
}

.button-group {
  width: 36%;
  float: left;
  margin: 0px 10px;
  text-align: left;
}

.button-group button {
  width: 100%;
  float: left;
  text-align: left;
}

.maintable {
  width: 100%;
  float: left;
  position: relative;
  border: 1px solid #ccc;
}

.satting {
  position: relative;
  top: 6px;
}

.table-moudel {
  width: 100%;
  float: left;
  padding-bottom: 10px;
}

.table-header {
  width: 100%;
  float: left;
}

.tbl-heading {
  width: 100%;
  float: left;
  min-height: 35px;
  background: #e9e9e9;
  margin-bottom: 10px;
  line-height: 35px;
}

.tbl-heading h3 {
  margin: 0px;
  padding: 0px;
  line-height: 35px;
  padding-left: 10px;
  float: left;
  font-weight: 600;
}

.tbl-heading a {
  text-align: right;
  float: right;
  line-height: 35px;
  padding-right: 10px;
}

.tbl-heading .toolbox {
  float: right;
}

.tbl-heading .toolbox a {
  float: left;
}

.tbl-heading .toolbox img {
  position: relative;
  top: -3px;
}

.tbl-heading .fa-paint-brush, .tbl-heading .fa-expand, .tbl-heading .fa-print, .tbl-heading .excal, .tbl-heading .fa-cog, .tbl-heading .fa-compress, .tbl-heading .fa-random {
  border: 2px solid #cccccc;
  padding: 2px;
  color: #444;
  font-size: 16px !important;
}

.table-head {
  width: 100%;
  position: relative;
  float: left;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

.tablerow > div, .table-head > div {
  margin: 0px 15px 0px 10px;
  position: relative;
}

.table-head div input[type=text] {
  width: 100%;
  float: left;
  height: 35px;
  border: 1px solid #ccc;
  padding-left: 5px;
  font-size: 13px !important;
  font-family: "Segoe UI" !important;
  padding-right: 35px;
}

.table-head .icons {
  float: left;
  position: absolute;
  top: 0px;
  background: #e9e9e9;
  padding: 0 5px;
  color: #b1acac;
  right: 0px;
}

.table-head div .icons span {
  display: grid;
  text-align: center;
}

.table-head .colm-f input [type=text] {
  width: 79% !important;
}

.table-head .titution input [type=text] {
  width: 75% !important;
}

.fliter-box input[type=text] {
  width: 75% !important;
}

.tablerow {
  width: 100%;
  float: left;
  min-height: 30px;
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
}

.button-group .caret {
  float: right;
  position: relative;
  top: 9px;
}

.filter-section {
  width: 100%;
  float: left;
  overflow-y: auto;
  max-height: 400px;
}

.colm-gap {
  width: 1%;
  float: left;
}

.colm-3 {
  width: 3%;
  float: left;
}

.colm-a {
  width: 4%;
  float: left;
}

.colm-b {
  width: 10%;
  float: left;
}

.colm-c {
  width: 15%;
  float: left;
}

.colm-d {
  width: 20%;
  float: left;
}

.colm-e {
  width: 25%;
  float: left;
  text-align: left;
}

.colm-f {
  width: 30%;
  float: left;
}

.colm-g {
  width: 35%;
  float: left;
}

.colm-h {
  width: 40%;
  float: left;
}

.colm-i {
  width: 45%;
  float: left;
}

.colm-j {
  width: 50%;
  float: left;
}

.colm-k {
  width: 55%;
  float: left;
}

.colm-a span {
  margin-left: 10px;
}

.colm-b p {
  padding-left: 10px;
}

.update-icons {
  text-align: right;
}

.update-icons a {
  margin: 0px 2px;
}

.table-head > .serch-tit > input[type=text] {
  width: 97%;
}

.table-head .fliter {
  margin-left: 5px;
  float: left;
  position: absolute;
  right: -17px;
}

.table-head .fliter .fa {
  color: #ccc;
  font-size: 20px;
}

.table-head .fliter img {
  width: 18%;
}

.update-icons > a .fa, .fa-angle-down, .fa-angle-up {
  font-size: 18px !important;
  font-weight: 800 !important;
}

.subfilter li {
  list-style: none;
  font-weight: normal;
}

.filter-Item {
  font-weight: 600;
}

.table-head .searchclear {
  position: absolute;
  right: 35px;
  bottom: 42px;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
  top: 34px;
  z-index: 9;
}

.table-head .dropdown-content {
  position: absolute;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  z-index: 1;
  top: 37px;
  left: 0px;
  min-width: 200px;
  padding: 0px 10px;
  margin-left: 0px;
}

.subckeak {
  margin-left: 10px;
}

.listdropdown {
  width: 100%;
  float: left;
}

.listdropdown h3 {
  border-bottom: 1px solid #0000BC;
  margin-bottom: 10px;
  font-weight: 600;
  padding-bottom: 5px;
  margin-top: 10px;
}

.allcek p {
  margin-bottom: 0px;
}

.subckeak > span {
  width: 100%;
  float: left;
  line-height: 22px;
}

.allcek input[type=checkbox] {
  margin-top: 0px;
}

.ckbutton {
  width: 100%;
  float: left;
  margin-top: 10px;
  padding-bottom: 10px;
}

.ckbutton button {
  float: left;
}

.pagescroll {
  width: 100%;
  float: left;
  height: 130px;
  overflow-y: scroll;
}

.p-ions {
  padding-left: 5px;
}

button i.fa.fa-expand {
  border: none;
  padding: 0px;
  font-size: 14px !important;
}

.table-head .active {
  color: #0000BC !important;
}/*# sourceMappingURL=SPfoudationSupport.css.map */