*{
    margin: 0px;
    padding: 0px;
}
.ms-CommandBar-primaryCommand .ms-OverflowSet-item {
    display: none;
}
// REmove during live the project
.t_e_8474018e{
    max-width: 1924px;
}
.CanvasComponent.LCS .CanvasZone {
  margin: 0 auto !important;
}
.spfxbreadcrumb {
    list-style: none;
    display: inline-block;
  
  }
  .spfxbreadcrumb .icon {
    font-size: 14px;
  }
  .spfxbreadcrumb li {
    float: left;
    list-style: none;
  }
  .spfxbreadcrumb li a {
    color: #000;
    display: block;
    background: #ccc;
    text-decoration: none;
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
  }
  .spfxbreadcrumb li:nth-child(even) a {
    background-color: #ccc;
  }
  .spfxbreadcrumb li:nth-child(even) a:before {
    border-color: #ccc;
    border-left-color: transparent;
  }
  .spfxbreadcrumb li:nth-child(even) a:after {
    border-left-color: #ccc;
  }
  .spfxbreadcrumb li:first-child a {
    padding-left: 15px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px 0 0 4px;
  }
  .spfxbreadcrumb li:first-child a:before {
    border: none;
  }
  .spfxbreadcrumb li:last-child a {
    padding-right: 15px;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0;
    border-radius: 0 4px 4px 0;
  }
  .spfxbreadcrumb li:last-child a:after {
    border: none;
  }
  .spfxbreadcrumb li a:before, .spfxbreadcrumb li a:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #ccc;
    border-width: 15px 10px;
    width: 0;
    height: 0;
  }
  .spfxbreadcrumb li a:before {
    left: -20px;
    border-left-color: transparent;
  }
  .spfxbreadcrumb li a:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #ccc;
  }



/* top title */
.headign {
    font-size: 25px;
} 
.headign img{
    width: 25px;
    margin-right: 5px;
} 
/*----top left side bar -----*/

.team_member dl{
display: flex;
margin: 0px;
}

.team_member dt, dd {
    padding: 5px 5px;
    border-bottom: 2px solid #fff;
    vertical-align: middle;
    width: 49%;
    margin: 0px;
}
.Sitecomposition .dropdown{
    display: flex;
    width: 100%;
    
}
.Sitecomposition .btn-secondary {
    width: 100%;
    border-radius: 0px;
    text-align: left;
}

.spxdropdown-menu {
    position: absolute;
    z-index: 1000;
    display: block;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 1px;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    top: 34px;
    width: 100%;
    left: 0px;
}
.spxdropdown-menu ul{
    margin: 0px;
    padding: 0px;
}
.spxdropdown-menu ul .dropdown-item{
    display: flex;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 5px;
}
.spxdropdown-menu ul .dropdown-item:last-child{
    border-bottom: none;
}
.spxdropdown-menu ul .dropdown-item span{
    padding: 0 4px;
    line-height: 26px;
    font-size: 14px;
}


/*-----------------------
top right side bar
------------------------ */
aside .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    // border-radius: 0.25rem;
    margin-bottom: 24px;
    box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 5%);
}
aside .card-header {
    padding: 0.6rem 0.6rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 0 solid transparent;
}
aside .card-title {
    font-size: 0.95rem;
    font-weight: 500;
    color: #495057;
}
.card-actions button{
    border: none;
    background:none;
}
.circularImage {
  width: 24px;
  height: 24px;
}
.comment-box {
  width: 100%;
  float: left;

}
.toolmenu{
    position: absolute;
    transform: translateY(-21px);
    top: 43px;
    right: -10px;
}


.accordionbox .card{
    border-radius: 0px;
}
.accordionbox .card-header{
    background-color: #e7e7e7;
}
.accordionbox  .accordion-button{
    background-color: #e7e7e7;
    color: #000;
}



.tabmenu .nav{

   

  display: flex;

  flex-wrap: wrap;

  padding-left: 0;

  margin-bottom: 0;

  list-style: none;

}

.tabmenu .nav-tabs {

border-bottom: 1px solid #dee2e6;

}

.tabmenu .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {

color: #495057;

background-color: #fff;

border-color: #dee2e6 #dee2e6 #fff;

}

.tabmenu .nav-tabs .nav-link {

margin-bottom: -1px;

background: 0 0;

border-top-left-radius: 0.25rem;

border-top-right-radius: 0.25rem;

}



.tabmenu .nav-link {

display: block;

padding: 0.5rem 1rem;

color: #0d6efd;

text-decoration: none;

transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;

}