@import '~@fluentui/react/dist/sass/References.scss';

.buttonApprove {
    background-color: #228b22!important;
    border-color: #228b22!important;
}

.butonReject {
    background-color: #E31916!important;
    border-color: #E31916!important;
}